.about {
  color: #000000;
  background-color: #ffffff;
}

.about__wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 0 191px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 225px;
  }
}

.about__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.about__list {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  list-style: none;
  color: #000000;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    padding-right: 58px;
  }
}

.about__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
