.catalog-products {
  color: #000000;
  background-color: #ffffff;
}

.catalog-products__wrapper {
  width: 668px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.catalog-products__list {
  list-style: none;
}

.catalog-products__item {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.catalog-products__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.catalog-products__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog-products__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
