.feedback {
  color: #000000;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 100%;
    background-image: url(../img/review.jpg);
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

// .feedback__wrapper {
//   display: flex;
//   justify-content: space-between;
//   margin: 0 auto;

//   @media (min-width: @tablet-width) {
//     width: 100%;
//     padding: 0 50px;
//   }

//   @media (min-width: @desktop-width) {
//     width: 100%;
//   }
// }

.feedback__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 27px 0 24px;

  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 43px;
    line-height: 50px;
    margin-top: 83px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    font-size: 53px;
    line-height: 57px;
    margin-top: 78px;
  }
}

.feedback__quotation {
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.feedback__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin: 14px 0 33px;

  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.feedback__author {
  display: block;
  font-style: normal;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    // width: 50%;
  }
}

.feedback__author-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.feedback__author-nickname {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.feedback__toggles {
  display: flex;
  margin-top: 30px;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    width: 260px;
    position: absolute;
  }

  @media (min-width: @desktop-width) {
    // width: 175px;
  }
}

.feedback__write {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;

  @media (min-width: @tablet-width) {
    width: 175px;
  }

  @media (min-width: @desktop-width) {
    width: 175px;
  }
}
