.form {
  color: #000000;
  background-color: #ffffff;
}

.form__control {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
}

.form__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  margin-left: 30px;
}

.form__list {
  list-style: none;
}

.form__label--radio {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__label--checkbox {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__name-label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__name-input {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  border: 0;
}

.form__phone-input {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  border: 0;
}

.form__mail-input {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  border: 0;
}

.form__comment-field {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.form__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.form__button {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 2px solid #444444;
}
