.form {
  color: #000000;
  background-color: #ffffff;
}

.form__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  align-items: center;
  text-transform: uppercase;
  color: #63d1bb;
  margin-left: 30px;
}

.form__list {
  list-style: none;
}

.form__item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  align-items: center;
  color: #000000;
}

.form__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #444444;
}

// ?

.page__description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  align-items: center;
  color: #444444;
  margin-left: 30px;
}
