.goods {
  color: #000000;
  background-color: #ffffff;
  position: relative;
  margin-top: 27px;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-top: 41px;
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 61px;
    padding-bottom: 73px;
  }
}

.goods__wrapper {
  position: relative;
  max-width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 668px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1050px;
  }
}

.goods__zigzag::after {
  @media (min-width: @desktop-width) {
    content: "";
    background-image: url(../img/zigzag-products.svg);
    background-repeat: repeat-x;
    background-position: 8px 0;
    background-size: 320px 7px;
    width: 1050px;
    height: 24px;
    background-position: 25px 0;
    background-size: 1050px 24px;
    position: absolute;
    top: 100%;
    display: block;
    margin-top: 73px;
  }
}

.goods__header {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 58px;
  }
}

.goods__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    z-index: 1;
  }
}

.goods__subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
  display: block;
  margin-top: 5px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 17px;
    width: 75px;
    text-align: center;
    margin-right: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 50px;
    margin-left: 44px;
  }
}

.goods__info {
  margin-top: 18px;

  @media (min-width: @tablet-width) {
    width: 292px;
    margin-top: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
  }
}

.goods__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 0 0 16px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
  }
}

.goods__table {
  width: 100%;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 109px;
  }
}

.goods-table__row {
  display: flex;
  justify-content: flex-start;
  padding: 12px 0;
  border-bottom: 2px solid #f1f1f1;
}

.goods-table__cell {
  padding: 0;
}

.goods-table__cell--item {
  width: 38%;

  @media (min-width: @tablet-width) {
    width: 32%;
  }
}

.goods__image-wrapper {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    top: 107px;
  }

  @media (min-width: @desktop-width) {
    top: 5px;
  }
}

.goods__basket {
  margin: 0;
  padding: 0;
  width: 260px;
  height: 315px;

  @media (min-width: @tablet-width) {
    top: 492px;
    right: 0;
    width: 334px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    top: 54px;
    width: 525px;
    height: 636px;
  }
}

.goods__footer {
  @media (min-width: @tablet-width) {
    width: 292px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
  }
}

.goods__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444;
  margin: 0 0 25px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 33px;
  }
}

.goods__order {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;

  @media (min-width: @tablet-width) {
    width: 292px;
  }
}
