.goods {
  color: #000000;
  background-color: #ffffff;
}

.goods__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  color: #000000;
  margin-left: 30px;
  margin-right: 30px;
}

.goods__subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: #63d1bb;
  margin-left: 30px;
}

.goods__description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #444444;
  margin-left: 30px;
  margin-right: 30px;
}

.goods__list {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #444444;
  list-style: none;
}

.goods__basket {
  margin-left: 30px;
  margin-right: 30px;
}

.goods__price {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #444444;
}

.goods__order {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
}
