.main-footer {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700px;
  color: #000000;
  background-color: #ffffff;
}

// .main-footer__social,
// .social {
//   background-color: #f1f1f1;
// }
