.main-header {
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: #ffffff;
}

.main-header__logo-image {
  height: 35px;
  margin: 22px 118px;

  @media (min-width: @tablet-width) {
    order: 1;
    height: 46px;
  }

  @media (min-width: @desktop-width) {
    order: 3;
    height: 149px;
  }
}
