.main-nav {
  color: #000000;
  background-color: #ffffff;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  list-style: none;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.main-nav__toggle {
  display: none;
}
