.main-footer {
  color: #000000;
  background-color: #f1f1f1;
}

.main-footer__wrapper {
  @media (min-width: @tablet-width) {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 51px 0 58px;
  }

  @media (min-width: @desktop-width) {
    max-width: 100%;
  }
}

.main-footer__logo-wrapper {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
