.main-header {
  color: #000000;
  background-color: #ffffff;
}

.main-header__logo-image {
  margin: 22px 118px;
}

.main-nav {
  color: #000000;
  background-color: #ffffff;
}

.main-nav__list {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  list-style: none;
}

.site-list__link {
  color: #000000;
  text-decoration: none;
}
