.products {
  background-color: #ffffff;
}

.products__list {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 668px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.products__description-interior {
  display: block;
  padding: 24px 160px 31px 30px;
  color: #ffffff;
  background-color: #63d1bb;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    width: 334px;
    margin: 0 auto;
    padding: 25px 167px 34px 36px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    padding: 25px 350px 34px 37px;
  }
}

.products__description-toys {
  display: block;
  padding: 24px 160px 31px 30px;
  color: #ffffff;
  background-color: #56c3b2;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    width: 334px;
    margin: 0 auto;
    padding: 25px 167px 34px 36px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    padding: 25px 350px 34px 37px;
  }
}
