.zig-zag::after {
  content: "";
  position: absolute;
  top: 100%;
  display: block;
  width: 100%;
  height: 6px;
  background-image: url("../img/zigzag-products.svg");
  background-repeat: repeat-x;
  background-position: 8px 0;
  background-size: 320px 7px;
  bottom: 0;

  @media (min-width: @tablet-width) {
    height: 17px;
    background-position: 19px 0;
    background-size: 768px 17px;
  }

  @media (min-width: @desktop-width) {
    background-image: none;
  }
}
